html,
body,
p,
h1,
h2,
li,
ul {
  height: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
}
