<div>
  <button class="filter_btns" (click)="handleFilter('burger')">
    <img
      src="https://cdn-icons-png.flaticon.com/512/1046/1046886.png"
      alt="burger"
    />
  </button>
  <button class="filter_btns" (click)="handleFilter('chicken')">
    <img
      src="https://cdn-icons-png.flaticon.com/512/5793/5793742.png"
      alt="chicken"
    />
  </button>
  <button class="filter_btns" (click)="handleFilter('taco')">
    <img
      src="https://cdn-icons-png.flaticon.com/512/180/180610.png"
      alt="taco"
    />
  </button>
  <button class="filter_btns" (click)="handleFilter('drink')">
    <img
      src="https://cdn-icons-png.flaticon.com/512/193/193579.png"
      alt="drink"
    />
  </button>
</div>
